body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #E64E1D 30%, #A6CC39 70%);
  color: white;
  font-size: 2em;
  border: solid;
  border-image: linear-gradient(to right, #A6CC39, #E64E1D) 1;
  margin-bottom: 1rem;
}

.nav .title {
  margin-left: 1rem;
}

.links {
  display: flex;
  align-items: center;
}

.links hr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 40px;
  margin-right: 20px;
}

.nav a,
.logout {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav a:hover,
.nav .logout:hover {
  color: red;
}

.dummy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arena {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 70vh;
  border: solid black;
  background-image: url("http://www.pokemontopaz.net/uploads/misc/battlegrassnight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  margin-right: 4rem;
}

.trainer img {
  width: 200px;
}

.user {
  display: flex;
  margin-bottom: -2rem;
  margin-left: 2rem;
}

.user img {
  width: 200px;
}

.menu {
  border: solid black;
  background-color: black;
  color: white;
  display: flex;
  width: 70vw;
  height: 15vh;
}

.login-background {
  background-image: url('https://images5.alphacoders.com/135/1351278.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.register-background {
  background-image: url('https://images6.alphacoders.com/135/thumb-1920-1351901.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-background {
  /* background-image: url('https://images3.alphacoders.com/686/thumbbig-686170.webp'); */
  background-image: url('https://wallpapercave.com/wp/wp10993199.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}